.body-nav {
  width: 100%;
  overflow-x: auto;
}
.body-nav::-webkit-scrollbar {
  height: 5px;
}
.body-nav::-webkit-scrollbar-thumb {
  background: #e8e7ea33;
  border-radius: 10px;
}
.body-nav-contents {
  border-bottom: 1px solid #a5a4a433;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  min-width: 1039px;
  justify-content: space-between;
}
.body-nav .nav-item {
  height: 0;
}
.body-nav .nav-link {
  padding: 11px 15px;
  display: flex;
  text-transform: capitalize;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  color: #03293d80 !important;
}
.body-nav .nav-item:first-child .nav-link {
  padding-left: 0;
}
.body-nav .nav-link.active {
  border-bottom: 1px solid #f15832;
  color: #f15832 !important;
}
/*
* Switch input
*/
.switch-input {
  width: 30px;
  height: 15px;
  border-radius: 30px;
  background: #fbfbfb;
  display: inline-block;
  position: relative;
}
.switch-input input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  opacity: 0;
}
.switch::before,
.switch::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}
.switch::before {
  transition: width 0.2s ease-in-out, height 0s 0.15s linear;
  background: #f15832;
  width: 0;
  height: 0;
  border-radius: 30px;
}
.switch::after {
  height: 13px;
  top: 1px;
  width: 13px;
  left: auto;
  right: 53%;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 2px 10px #777777dc;
  transition: right 0.2s ease-in-out;
}
.switch-input input:checked + .switch::before {
  transition: width 0.2s ease-in-out, height 0s linear;
  width: 100%;
  height: 100%;
}
.switch-input input:checked + .switch::after {
  right: 0;
}
.utilities .group {
  align-items: center;
  font-weight: bold;
  font-size: 14px;
}
.utilities .all-text {
  color: #23b3e8;
}
.utilities .project {
  color: #4dbd98;
  font-size: 12px;
}
.utilities .green {
  color: #4dbd98;
}
.utilities .checked {
  color: #f15832;
}
