.columns {
  padding-top: 40px;
  max-width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}
.columns::-webkit-scrollbar {
  height: 2px;
}
.columns::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 10px;
}
.columns > div {
  width: 214px;
  white-space: normal;
  display: inline-block;
  vertical-align: top;
  padding-right: 24px;
}
.columns > div .column-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 14px;
  color: #03293d;
}
.columns .column-large {
  width: 399px;
}
