body {
  --dark: #052231;
  --blue: #23b3e8;
  --green: #4dbd98;
  --purple: #3d43a2;
  --orange: #f15832;
  --darkish: #004f71;
  font-family: "Nunito Sans", sans-serif;
}

img.icon {
  max-height: 11px;
}
.bg-blue {
  background: var(--blue);
}
.bg-green {
  background: var(--green);
}
.bg-purple {
  background: var(--purple);
}
.bg-orange {
  background: var(--orange);
}
.bg-darkish {
  background: var(--darkish);
}
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-content-inline {
  display: inline-flex;
}
