body {
  --dark: #052231;
  --blue: #23b3e8;
  --green: #4dbd98;
  --purple: #3d43a2;
  --orange: #f15832;
  --darkish: #004f71;
  font-family: "Nunito Sans", sans-serif;
}

img.icon {
  max-height: 11px;
}
.bg-blue {
  background: var(--blue);
}
.bg-green {
  background: var(--green);
}
.bg-purple {
  background: var(--purple);
}
.bg-orange {
  background: var(--orange);
}
.bg-darkish {
  background: var(--darkish);
}
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-content-inline {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.main-wrapper {
  margin-left: 70px;
  margin-top: 60px;
  background: #e5e5e5;
  min-height: 100vh;
  padding: 25px 0;
  transition: margin-left 0.2s ease-in-out;
}
.hide-side-bar .main-wrapper {
  margin-left: 0;
}
@media (min-width: 992px) {
  .main-wrapper {
    margin-left: 70px !important;
  }
}

.app-alert {
  position: fixed;
  width: 100vw;
  padding: 10px;
  bottom: 0;
  left: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #4dbd98, #4dbd98),
    linear-gradient(0deg, #4dbd98, #4dbd98),
    linear-gradient(0deg, #4dbd98, #4dbd98), #4dbd98;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.btn {
  border-radius: 5px;
  padding: 6px 15px;
  font-weight: bold;
  font-size: 12px;
  line-height: 19px;
  box-shadow: none !important;
  min-width: 130px;
}
.btn-primary {
  background: #23b3e8;
  border: 2px solid #1a0c2f1a;
}
.btn-outline-primary {
  border: 1px solid #03293d;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
  background: #1d8db6;
  border-color: #1d8db6;
  color: #fff;
}
